/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, node_modules/reset-css/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, node_modules/reset-css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 31, node_modules/reset-css/_reset.scss */
body {
  line-height: 1;
}

/* line 34, node_modules/reset-css/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, node_modules/reset-css/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, node_modules/reset-css/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, node_modules/reset-css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************************** Base Styles ****************************/
/* line 2, src/sass/common/_base.scss */
body {
  background: pink;
  overflow-x: hidden;
}

/* line 8, src/sass/common/_base.scss */
.row {
  background-color: #0000ff;
  margin: 0 0 20px;
}

/* line 19, src/sass/common/_base.scss */
[class*="col"] {
  border: solid 1px blue;
  background-color: #ffff00;
}

/*************************** Grid System ****************************/
/* line 7, src/sass/common/_grid.scss */
.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 15, src/sass/common/_grid.scss */
[class*="col"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
}

/* line 22, src/sass/common/_grid.scss */
[class*="col-"] {
  float: left;
  width: 100%;
}

/* line 28, src/sass/common/_grid.scss */
.col-1 {
  width: 8.33333%;
}

/* line 28, src/sass/common/_grid.scss */
.col-2 {
  width: 16.66667%;
}

/* line 28, src/sass/common/_grid.scss */
.col-3 {
  width: 25%;
}

/* line 28, src/sass/common/_grid.scss */
.col-4 {
  width: 33.33333%;
}

/* line 28, src/sass/common/_grid.scss */
.col-5 {
  width: 41.66667%;
}

/* line 28, src/sass/common/_grid.scss */
.col-6 {
  width: 50%;
}

/* line 28, src/sass/common/_grid.scss */
.col-7 {
  width: 58.33333%;
}

/* line 28, src/sass/common/_grid.scss */
.col-8 {
  width: 66.66667%;
}

/* line 28, src/sass/common/_grid.scss */
.col-9 {
  width: 75%;
}

/* line 28, src/sass/common/_grid.scss */
.col-10 {
  width: 83.33333%;
}

/* line 28, src/sass/common/_grid.scss */
.col-11 {
  width: 91.66667%;
}

/* line 28, src/sass/common/_grid.scss */
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 400px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-phone {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-phone-wide {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phone-wide-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 560px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-phablet {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-phablet-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-tablet-small {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-small-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-tablet {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-tablet-wide {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-tablet-wide-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1248px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-desktop {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 41, src/sass/common/_grid.scss */
  .col-desktop-wide {
    float: none;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-1 {
    width: 8.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-2 {
    width: 16.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-3 {
    width: 25%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-4 {
    width: 33.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-5 {
    width: 41.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-6 {
    width: 50%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-7 {
    width: 58.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-8 {
    width: 66.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-9 {
    width: 75%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-10 {
    width: 83.33333%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-11 {
    width: 91.66667%;
  }
  /* line 46, src/sass/common/_grid.scss */
  .col-desktop-wide-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
