/*************************** Work Sample Section Styles ****************************/


.work-sample {

//	background-color: rgba(255,255,0,0.2);


	position: relative;

	@include box-sizing(border-box);


	.col-tablet-wide-5 {

//		padding: 12% 10% 12% 5.5%;
		padding: 12% 3%;

		&:last-child {
			margin-left: 58.33333%; // <-- Desktop
		}


		a {

			background-color: rgba(255,255,0,0.3);

			width: 78%;

			display: block;
			text-decoration: none;
//			@include rem(margin, 162px 72px);

			h1 {

				font-family: "Muli-SemiBold", sans-serif;

				@include rem(font-size, 62px);
//				font-weight: bold;
			}


			ul {
				font-family: "Muli-ExtraBold", sans-serif;

				@include rem(font-size, 14px);

				@include rem(margin-top, 28px);

				&:before {
//					content: "\2014\2014\00a0\00a0\00a0";
//					content: "\00a0\2014\00a0\00a0\00a0";
					content: "\2014\00a0\00a0\00a0";
				}

				li {
					background-color: rgba(0,255,0,0.3);
					display: inline-block;

					&:not(:last-child) {
						&:after {
//							content: "\002C\00a0";
							content: "\002C";
						}
					}


				}
			}

			h4 {
				background-color: rgba(255,0,0,0.2);

				font-family: "Muli-SemiBold", sans-serif;

				@include rem(font-size, 16px);
				@include rem(line-height, 24px);

				@include rem(margin-top, 28px);

/**/
				&:after {
					background-color: rgba(255,0,0,0.2);
					
					color: transparent;
					
					content: "\f101";
					font-family: icons;
					@include rem(font-size, 26px);
					
					position: absolute;
					display: block;
					margin-top: 3%;
	//				margin-left: 5%;
					
					@include transition(all 0.4s ease-in-out);
				}
/**/

			}

/**
			.icon-arrow-right {
				background-color: rgba(0,255,0,0.2);
				
//				color: transparent;
				
				@include rem(font-size, 26px);
				
				position: absolute;
				margin-top: 3%;
//				margin-left: 5%;
			}
/**/
			
			
/**
			&:hover {
				h4 {
					&:after {
						color: red;
	//					margin-left: 5%;
					}
				}
			}
/**/
			
/**
			&.animated {
				h4 {
					&:after {
//						margin-left: 5%;
						
						@-webkit-keyframes arrow-right {
							0%, 100% {
								margin-left: 0%;
							}
							50% {
								margin-left: 5%;
							}
						}
						@keyframes arrow-right {
							0%, 100% {
								margin-left: 0%;
							}
							50% {
								margin-left: 5%;
							}
						}
						-webkit-animation: arrow-right 0.8s ease-in-out 1 0.1s;
						animation: arrow-right 0.8s ease-in-out 1 0.1s;
						
					}
				}
			}
/**/
			
/**/
			&.arrow {

				h4 {
					&:after {
						color: red;
					}
				}

				&.animated {
					h4 {
						 &:after {
							 @-webkit-keyframes arrow-right {
								 0%, 100% {
									 margin-left: 0%;
								 }
								 50% {
									 margin-left: 6%;
								 }
							 }
							 @keyframes arrow-right {
								 0%, 100% {
									 margin-left: 0%;
								 }
								 50% {
									 margin-left: 6%;
								 }
							 }
							 -webkit-animation: arrow-right 0.8s ease-in-out 1 0.1s;
							 animation: arrow-right 0.8s ease-in-out 1 0.1s;
						 }
					 }
				}


			}
/**/
		
		}

	}



	.col-tablet-wide-7 {

//		display: table-cell;
//		vertical-align: middle;


//		display: table-cell;
//		text-align: center;
//		vertical-align: middle;

//		position: relative;
//		top: 50%;

		position: absolute;
		bottom: 0;


		&:last-child {
			right: 0; // <-- Desktop
		}


		img {
			background-color: rgba(255,0,0,0.3);

			vertical-align: top;
			width: 92%;

		}
	}



}