/*************************** Work Sample Section Styles ****************************/

/*
.example {
	display: flex;
	flex-direction: column;
}

.example > .a {order: 3; }
.example > .b {order: 2; }
.example > .c {order: 1; }
*/

/*
.example {
//	display: table;
//	width: 100%;
}
*/

//.example > .a {display: table-footer-group; } /* Will be displayed at the bottom of the pseudo-table */
////.example > .b {display: table-row-group;    } /* Will be displayed in the middle */
//.example > .c {display: table-header-group; } /* Will be displayed at the top */

//.a {display: table-footer-group; }
//.c {display: table-header-group; }
//
//
//.col-tablet-wide-3 {float: none; display: table-footer-group;}
//.col-tablet-wide-4 {float: none; display: table-header-group;}



.work-sample {

//	background-color: rgba(255,255,0,0.2);
	
	display: table;
////	table-layout: fixed;
//
	width: 100%;


	position: relative;

	@include box-sizing(border-box);
	
/**
	display: flex;
	flex-direction: column;
/**/
	

	

	.col-tablet-wide-5 {

//		padding: 12% 10% 12% 5.5%;
		
		
		
		@include media('screen', '<tablet-wide') {
			float: none;
			display: table-header-group;
		}
		
		
		
		@include media('screen', '>=tablet-wide') {
			
			padding: 12% 3%;
			
			&:last-child {
				margin-left: 58.33333%;
			}
			
		}


		a {

			background-color: rgba(255,255,0,0.3);

			width: 78%;

			display: block;
			text-decoration: none;
//			@include rem(margin, 162px 72px);

			h1 {

				font-family: "Muli-SemiBold", sans-serif;

				@include rem(font-size, 62px);
//				font-weight: bold;
			}


			ul {
				font-family: "Muli-ExtraBold", sans-serif;

				@include rem(font-size, 14px);

				@include rem(margin-top, 28px);

				&:before {
//					content: "\2014\2014\00a0\00a0\00a0";
//					content: "\00a0\2014\00a0\00a0\00a0";
					content: "\2014\00a0\00a0\00a0";
				}

				li {
					background-color: rgba(0,255,0,0.3);
					display: inline-block;

					&:not(:last-child) {
						&:after {
//							content: "\002C\00a0";
							content: "\002C";
						}
					}


				}
			}

			h4 {
				background-color: rgba(255,0,0,0.2);

				font-family: "Muli-SemiBold", sans-serif;

				@include rem(font-size, 16px);
				@include rem(line-height, 24px);

				@include rem(margin-top, 28px);
				
				
				&:after {
					background-color: rgba(255,0,0,0.2);
					
					color: transparent;
					
					content: "\f101";
					font-family: icons;
					@include rem(font-size, 26px);
					
					position: absolute;
					display: block;
					margin-top: 3%;
	//				margin-left: 5%;
					
					@include transition(all 0.4s ease-in-out);
				}

			}
			
			&.arrow {

				h4 {
					&:after {
						color: red;
					}
				}

				&.animated {
					h4 {
						 &:after {
							 @-webkit-keyframes arrow-right {
								 0%, 100% {
									 margin-left: 0%;
								 }
								 50% {
									 margin-left: 6%;
								 }
							 }
							 @keyframes arrow-right {
								 0%, 100% {
									 margin-left: 0%;
								 }
								 50% {
									 margin-left: 6%;
								 }
							 }
							 -webkit-animation: arrow-right 0.8s ease-in-out 1 0.1s;
							 animation: arrow-right 0.8s ease-in-out 1 0.1s;
						 }
					 }
				}


			}
		
		}

	}



	.col-tablet-wide-7 {
		
/**
		order: 1;
/**/
//		display: table-header-group;
		
		@include media('screen', '<tablet-wide') {
			float: none;
			display: table-footer-group;
		}
		
		
		@include media('screen', '>=tablet-wide') {
			
			position: absolute;
			bottom: 0;
			
			&:last-child {
				right: 0;
			}
		}


		img {
			background-color: rgba(255,0,0,0.3);

			vertical-align: top;
			width: 92%;

		}
	}



}