// --------------------------------------------------
// CSS Transparency Settings for All Browsers
// https://css-tricks.com/css-transparency-settings-for-all-broswers/
// --------------------------------------------------


@mixin opacity($opacity) {

	// Required for IE 5, 6, 7
	zoom: 1;
		
	// Theoretically for IE 8 & 9 (more valid) 
	// ...but not required as filter works too 
	// should come BEFORE filter 
	-ms-filter: unquote("'progid:DXImageTransform.Microsoft.Alpha(Opacity=" + round($opacity * 100) + ")'");
	
	// This works in IE 8 & 9 too 
	// ... but also 5, 6, 7 
	filter: unquote("alpha(opacity=" + round($opacity * 100) + ")");
	
	// Older than Firefox 0.9
	-moz-opacity: $opacity;
	
	// Safari 1.x (pre WebKit!)
	-khtml-opacity: $opacity;
    
	// Modern!
	// Firefox 0.9+, Safari 2?, Chrome any?
	// Opera 9+, IE 9+
	opacity: $opacity;

}
